@import "rsuite/dist/rsuite.css";

.App {
/*  text-align: center;*/
}



.rs-container {
  margin: 15px;

}

.rs-content {
  margin: 18px;
}

.rs-sidebar {

}

.rs-sidenav {

}

.header {
  text-align: center;
  
}

.rs-sidenav-header {
  text-align: center;
}

